defaultRepeatAmount = 1
commandHelpText = 
"It's echo bot, just like a well, really!

Functionality:
/repeat - to select echos amount
/help   - to see this message again :)"
commandRepeatText = 
"How many echos do you want?
Current value is "

sadText = 
"Am I a Joke to You?
I need a digit!"

tgKeysAmount = 5

secLongpollingTimeout = 10

secDatabaseBackupPeriod = 10

backupPath = "./"

### VK ###

vkToken = "***"

vkGroupId = 196651489

vkApiVersion = "5.103"

### Telegram ###

tgToken = "1117485587:AAGcu3atF-i1WdLHgpl9pC2wh5s0E05ocpw"